
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	margin:0;
	cursor: none;
}
a:focus{
	outline:thin dotted;
}
a:active, a:hover{
	outline:0;
}
h1{
	font-size:2em;
	margin:0.67em 0;
}
abbr[title]{
	border-bottom:1px dotted;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #fff;
	--color-bg: #F3ECDF;
	--color-link: #733939;
	--color-link-hover: #fff;
	--color-bg-content: #5b6598;
	--color-title: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Common styles for all menus */
.menu {
	line-height: 1;
	align-content: center;
	z-index: 5;
	background-blend-mode: normal;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 0.5em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 0.5em;
	cursor: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* sebastian */
.menu--sebastian .menu__link {
	position: relative;
	display: block;
	margin: 0 1em;
	text-align: center;
	color: #ffffff;
}

.menu--sebastian .menu__link:hover,
.menu--sebastian .menu__link:focus {
	color: #fff;
	opacity: 0.7;
	background-color: crimson;
	/*text-decoration-line: line-through;*/
	/*text-decoration-width: 2px;*/
}

.menu--sebastian .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--sebastian .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--sebastian .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}


.hidden {
	pointer-events: none;
	visibility: hidden;
	position: fixed;
	/*z-index: -1;*/
}

.cursor, .cursor__inner {
	z-index: 9999;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	/*mix-blend-mode: difference;*/
}

.cursor__inner--circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.cursor__inner--cross {
	width: 20px;
	height: 20px;
	color: crimson;
}

.cursor__inner--cross::before,
.cursor__inner--cross::after {
	position: absolute;
	top: 0;
	content: '';
	width: 2px;
	height: 100%;
	background:#401D1D;
	left: calc(50% - 1px);
	transform: rotate(45deg);
}

.cursor__inner--cross::after {
	transform: rotate(-45deg);
}

.cursor__inner--text {
	white-space: nowrap;
	left: 30px;
	margin-top: 1px;
	color: #fff;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
	text-align-all: center;
	--color-text: var(--color-link);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	/*border-radius: 50%;*/
	/*opacity: 0.4;*/
	background: var(--color-link);
	text-align-all: center;
	--color-text: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	/*to {*/
	/*	opacity: 1;*/
	/*	transform: scale3d(0.5,0.5,1);*/
	/*}*/
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	 } 100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	 }
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	align-items: center;
	justify-content: center;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: white;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: fixed;
	z-index: 1000;
	width: 100%;
	text-transform: lowercase;
}

.lookbook .frame {
	mix-blend-mode: color-dodge;
}

.frame__title-wrap {
	text-transform: capitalize;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:first-child)::before {
	content: '|';
	margin: 0 1rem 0 0;
}

.frame__nav a,
.frame__links a:not(:last-child),
.frame__demos span, .frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__main {
	font-size: 1.5rem;
	margin: 0;
}

.frame__nav,
.frame__main,
.frame__version {
	display: none;
}

.frame__demos {
	align-items: center;
	margin: 10rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration-line: line-through;
}

.content {
	background-color: var(--color-bg);
	position: fixed;
	height: 100vh;
	/*top: 100px;*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	/*background-blend-mode: soft-light;*/
	cursor: none;
	z-index:100;
}

.content__title {
	font-size: 8vw;
	will-change: transform;
	mix-blend-mode: overlay;
	text-align: center;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid-wrap--hidden {
	pointer-events: none;
}

.grid {
	display: grid;
	width: 100%;
	/*height: 100vw;*/
	--cell-number: 20;
	--cell-size: 5vw;
	grid-template-columns: repeat(auto-fill, var(--cell-size));
	z-index: 1;
}

@media screen and (orientation: portrait) {
	.grid {
		height: auto;
		--cell-number: 8;
		--cell-size: 12.5vw;
	}
}

.grid__item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: none;
	/*overflow: hidden;*/
	height: var(--cell-size);
	/*outline: 1px solid rgba(0,0,0,0.87);*/
}

.grid__item-inner {
	width: 100%;
	height: 100%;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
}


.grid__item-inner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.87);
	transition: background 0.1s ease;
}

.lookbook .grid__item-inner::after {
	background: rgba(255,255,255,0);
}

.grid__item-inner:hover::after {
	background: rgba(0,0,0,0.77);
}

.lookbook .grid__item-inner:hover::after {
	background: rgba(255,255,255,0.5);
}

@media screen and (min-width: 53em) {
	body {
		overflow: scroll;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2rem 2.5rem;
		pointer-events: none;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'nav demos main'
							'... ... ...'
							'title ... version';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		grid-column: span 2;
		pointer-events: auto;
	}
	.frame__title {
		margin: 0 2rem 0 0;
	}
	.frame__main {
		display: block;
		justify-self: end;
	}
	.frame__main::before {
		content: '\2015';
	}
	.frame__nav {
		display: block;
		grid-area: nav;
		align-self: center;
		pointer-events: auto;
	}
	.frame__version {
		display: block;
		grid-area: version;
		justify-self: end;
	}
	.frame__demos {
		margin: 10px;
		grid-area: demos;
		justify-self: center;
		align-self: center;
		pointer-events: auto;
	}
	.frame a {
		pointer-events: auto;
	}
}
